<!DOCTYPE html>
<html>
  <head>
    <title>OSnap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400" rel="stylesheet">
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <% if current_user %>
      <script>
        window.currentUserId = {
          currentUserId: <%= current_user.id %>
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
